<% @postit.each do |postit| %>
  <div class='note'>
    <h3 class='note_title'><%= postit.title %></h3>
      <h4 class='note_writer'>Written by: <%= postit.author %></h4>
        <div class='note_options'><%= link_to 'Show Note', postit_path(postit) %></div>
        <div class='note_options'><%= link_to 'Edit', edit_postit_path(postit) %></div>
        <div class='note_options'><%= link_to 'Delete', postit_path(postit), method: :delete %></div>
    </div>
<% end %>
