<!DOCTYPE html>
<html>
  <head>
    <title>PostIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Post-It note App</h1>
    <header class='header-main-left'>
      <%= link_to "Home", postits_path %>
    </header>
    <header class='header-main-right'>
      <%= link_to 'New Post-it', new_postit_path %>
    </header>
    <%= yield %>
  </body>
</html>
